
.Loginform {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: C7B7A3;
    
}

.Loginform h2 {
    margin-bottom: 10px;
}

.Loginform .form-group {
    margin-bottom: 15px;
    position: relative;
}

.Loginform input[type="text"],
.Loginform input[type="email"],
.Loginform input[type="password"],
.Loginform input[type="date"],
.Loginform select {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Loginform .name-group {
    display: flex;
    justify-content: space-between;
}

.Loginform .name-field {
    flex: 1;
    margin-right: 10px;
}

.Loginform .name-field:last-child {
    margin-right: 0;
}

.Loginform .gender-options input[type="radio"] {
    margin-left: 40px;
    margin-right: 10px;
}

.Loginform .gender-options {
    display: flex;
    justify-content: space-around;
    margin: 5px;
   
    
}

.Loginform .gender-options label {
    display: flex;
    align-items: center;
    color: black;
    font-size: 15px;
}

.Loginform .submit-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
}

.Loginform .submit-button:hover {
    background-color: darkgreen;
}


.Para-1, .Para-2{
    display: block;
    font-size: 12px;
    color: grey;
}

p{
    color: blue;
    margin: 10px;
}

label {
    display: flex;
    font-size: 12px;
    color: black;
}

.Loginform .form-group label {
    color: grey;
}

.Loginform .gender-options label {
    color: black;
    font-size: 15px;
}

h4 {
    color: grey;
    
}

.sent {
    color: black;
}

.Loginform input.error {
    border-color: red;
}


.error-symbol {
    color: red;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.gender-options input[type="radio"].error + .error-symbol {
    margin-left: 0;
}